<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppKtx2sv"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.bill.detail.ActivityBillDetail"
            android:exported="true"/>
        <activity
            android:name=".ui.activities.bill.manager.ActivityBillManager"
            android:exported="true"/>
        <activity
            android:name=".ui.activities.room.detail.roomItemList.ActivityRoomDetailItemManager"
            android:exported="true"/>
        <activity
            android:name=".ui.activities.room.detail.ActivityRoomDetail"
            android:exported="true"/>
        <activity
            android:name=".ui.activities.roomItem.detail.ActivityRoomItemDetail"
            android:exported="true"/>
        <activity
            android:name=".ui.activities.semester.detail.semesterRoomList.ActivitySemesterDetailRoomManager"
            android:exported="true"/>
        <activity
            android:name=".ui.activities.semester.detail.ActivitySemesterDetail"
            android:exported="true"/>
        <activity
            android:name=".ui.activities.semester.manager.ActivitySemesterManager"
            android:exported="true"/>
        <activity
            android:name=".ui.activities.profile.editUser.ActivityEditUser"
            android:exported="true"/>
        <activity
            android:name=".ui.activities.home.ActivityHome"
            android:exported="true"/>
        <activity
            android:name=".ui.activities.login.ActivityLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>